@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Thai:wght@100..900&display=swap");

body {
  font-family: "Noto Sans Thai", serif;
}

.fade-in {
  opacity: 0;
  transition: opacity 1.5s ease-in;
}
.visible {
  opacity: 1;
}

.logo-png {
  width: 5%;
  height: 10%;
}

@keyframes moveToTop {
  from {
    top: 42.6%;
  }
  to {
    top: 15%;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideUp {
  from {
    height: 100vh;
  }
  to {
    height: 50vh;
  }
}

@keyframes circleExpand {
  from {
    clip-path: circle(0% at 100% 0%);
  }
  to {
    clip-path: circle(150% at 100% 50%);
  }
}

@keyframes circleCollapse {
  from {
    clip-path: circle(150% at 100% 50%);
  }
  to {
    clip-path: circle(0% at 100% 0%);
  }
}

.bg-img {
  background-image: url("../public/img/bg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  position: relative;
}

.bg-img-short {
  height: 50vh;
  animation: slideUp 2s ease-in-out forwards;
}

.move-to-top {
  position: absolute;
  animation: moveToTop 2s ease-in-out forwards;
}

.plant-fade-in {
  animation: fadeIn 2s ease-in-out forwards;
}

.img-rice {
  background-image: url("../public/img/rice.jpg");
}

.img-plant1 {
  background-image: url("../public/img/plant1.jpg");
}

.img-corn {
  background-image: url("../public/img/corn.jpg");
}

.img-rice,
.img-plant1,
.img-corn {
  height: 250px;
  width: 600px;
}

.text-shadow-2 {
  text-shadow: 2px 2px 4px #000000;
}

.text-shadow-3 {
  text-shadow: 2px 2px 4px #005661;
}

/* For Card */
.card-title {
  color: #262626;
  font-size: 1.5em;
  line-height: normal;
  font-weight: 700;
  margin-bottom: 0.5em;
}

.small-desc {
  font-size: 1em;
  font-weight: 400;
  line-height: 1.5em;
  color: #452c2c;
}

.small-desc {
  font-size: 1em;
}

.go-corner {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 2em;
  height: 2em;
  overflow: hidden;
  top: 0;
  right: 0;
  background: linear-gradient(135deg, #6293c8, #384c6c);
  border-radius: 0 4px 0 32px;
}

.go-arrow {
  margin-top: -4px;
  margin-right: -4px;
  color: white;
  font-family: courier, sans;
}

.card {
  display: block;
  position: relative;
  background-color: #f2f8f9;
  border-radius: 10px;
  padding: 2em 1.2em;
  margin: 12px;
  text-decoration: none;
  z-index: 0;
  overflow: hidden;
  background: linear-gradient(to bottom, #c3ece7, #a7d3d9);
}

.card:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: -16px;
  right: -16px;
  background: linear-gradient(135deg, #48627f, #438176);
  height: 32px;
  width: 32px;
  border-radius: 32px;
  transform: scale(1);
  transform-origin: 50% 50%;
  transition: transform 0.6s ease-out;
}

.card:hover:before {
  transform: scale(70);
}

.card:hover .small-desc {
  transition: all 0.5s ease-out;
  color: rgba(255, 255, 255, 0.8);
}

.card:hover .card-title {
  transition: all 0.5s ease-out;
  color: #ffffff;
}
/* For Card */

/* For iocon menu */
#checkbox2 {
  display: none;
}

.toggle2 {
  position: relative;
  width: 30px;
  height: 30px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 6px;
  transition-duration: 0.5s;
}

.bars {
  width: 100%;
  height: 3px;
  background-color: rgba(0, 0, 0, 0.774);
  border-radius: 6px;
}

#bar5 {
  transition-duration: 0.8s;
}

#bar4,
#bar6 {
  width: 80%;
}

#checkbox2:checked + .toggle2 .bars {
  position: absolute;
  transition-duration: 0.5s;
}

#checkbox2:checked + .toggle2 #bar5 {
  transform: scaleX(0);
  transition-duration: 0.5s;
}

#checkbox2:checked + .toggle2 #bar4 {
  width: 100%;
  transform: rotate(45deg);
  transition-duration: 0.5s;
}

#checkbox2:checked + .toggle2 #bar6 {
  width: 100%;
  transform: rotate(-45deg);
  transition-duration: 0.5s;
}

#checkbox2:checked + .toggle2 {
  transition-duration: 0.5s;
  transform: rotate(180deg);
}
/* For iocon menu */

/* For Menu */
.menu {
  position: fixed;
  top: 4.5rem;
  right: 0.5rem;
  clip-path: circle(0% at 100% 0%);
  animation: circleExpand 1s forwards;
}

.input {
  display: flex;
  flex-direction: column;
  width: 200px;
  background-color: #0d1117;
  justify-content: center;
  border-radius: 5px;
}

.value {
  background-color: transparent;
  border: none;
  padding: 10px;
  color: white;
  display: flex;
  position: relative;
  gap: 5px;
  cursor: pointer;
  border-radius: 4px;
  top: 0;
  right: 0;
}

.value:not(:active):hover,
.value:focus {
  background-color: #21262c;
}

.value:focus,
.value:active {
  background-color: #1a1f24;
  outline: none;
}

.value::before {
  content: "";
  position: absolute;
  top: 5px;
  left: -10px;
  width: 5px;
  height: 80%;
  background-color: #2f81f7;
  border-radius: 5px;
  opacity: 0;
}

.value:focus::before,
.value:active::before {
  opacity: 1;
}

/* For scrollbar */
.custom-scroll::-webkit-scrollbar {
  width: 8px;
}

.custom-scroll::-webkit-scrollbar-track {
  background: #01545a; /* สีพื้นหลังของแทร็ก */
  border-radius: 10px;
}

.custom-scroll::-webkit-scrollbar-thumb {
  background: #9cf8ff; /* สีของ scrollbar */
  border-radius: 10px;
}

.custom-scroll::-webkit-scrollbar-thumb:hover {
  background: #52c8ff; /* สีเมื่อ hover */
}

/* For Input */
input#searchInput {
  background: linear-gradient(to right, rgb(136, 222, 243), rgb(84, 172, 255));
  font-family: inherit;
  padding: 0.6em 1.3em;
  font-weight: 900;
  font-size: 14px;
  border: 2px solid black;
  border-radius: 0.4em;
  box-shadow: 0.1em 0.1em;
}

input#searchInput:hover {
  transform: translate(-0.05em, -0.05em);
  box-shadow: 0.15em 0.15em;
}

input#searchInput:active {
  transform: translate(0.05em, 0.05em);
  box-shadow: 0.05em 0.05em;
}

/* For Button add */
button#addData {
  background: linear-gradient(to right, rgb(136, 243, 168), rgb(84, 255, 204));
  font-family: inherit;
  padding: 0.6em 1.3em;
  font-weight: 900;
  font-size: 18px;
  border: 2px solid black;
  border-radius: 0.4em;
  box-shadow: 0.1em 0.1em;
}

button#addData:hover {
  transform: translate(-0.05em, -0.05em);
  box-shadow: 0.15em 0.15em;
}

button#addData:active {
  transform: translate(0.05em, 0.05em);
  box-shadow: 0.05em 0.05em;
}

/* For Button delete */
button#deleteData {
  background: linear-gradient(to right, rgb(243, 152, 136), rgb(255, 152, 84));
  font-family: inherit;
  padding: 0.6em 1.3em;
  font-weight: 900;
  font-size: 18px;
  border: 2px solid black;
  border-radius: 0.4em;
  box-shadow: 0.1em 0.1em;
}

button#deleteData:hover {
  transform: translate(-0.05em, -0.05em);
  box-shadow: 0.15em 0.15em;
}

button#deleteData:active {
  transform: translate(0.05em, 0.05em);
  box-shadow: 0.05em 0.05em;
}

/* For tooltip*/
.tooltip-container {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.tooltip-container .tooltip-text {
  visibility: hidden;
  width: 180px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 6px;
  border-radius: 5px;
  position: absolute;
  bottom: 150%;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: opacity 0.3s;
  font-size: 12px;
  white-space: nowrap;
}

.tooltip-container:hover .tooltip-text {
  visibility: visible;
  opacity: 1;
}

/* For Modal */
.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
}

.modal-content {
  background: white;
  padding: 20px;
  border-radius: 10px;
  width: 400px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.close-btn {
  cursor: pointer;
  font-size: 20px;
  color: red;
  border: none;
  background: none;
}

.inputmodal {
  width: 100%;
  padding: 8px;
  margin: 5px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.save-btn {
  background: green;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.save-btn:hover {
  background: darkgreen;
}

.save-btn#submitdelete {
  background: rgb(128, 0, 0);
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.save-btn#submitdelete:hover {
  background: rgb(100, 0, 0);
}

.save-btn#submitupdate {
  background: rgb(0, 102, 128);
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.save-btn#submitupdate:hover {
  background: rgb(0, 85, 100);
}
