@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Thai:wght@100..900&display=swap");

body {
  font-family: "Noto Sans Thai", serif;
}

.fade-in {
  opacity: 0;
  transition: opacity 1.5s ease-in;
}
.visible {
  opacity: 1;
}

@keyframes moveToTop {
  from {
    top: 42.6%;
  }
  to {
    top: 15%;
  }
}

@media (width <= 96rem) {
  @keyframes moveToTop {
    from {
      top: 40.5%;
    }
    to {
      top: 15%;
    }
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideUp {
  from {
    height: 100vh;
  }
  to {
    height: 50vh;
  }
}

@keyframes circleExpand {
  from {
    clip-path: circle(0% at 100% 0%);
  }
  to {
    clip-path: circle(150% at 100% 50%);
  }
}

@keyframes circleCollapse {
  from {
    clip-path: circle(150% at 100% 50%);
  }
  to {
    clip-path: circle(0% at 100% 0%);
  }
}

@media (width > 48rem) {
  .move-to-top {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    animation: moveToTop 2s ease-in-out forwards;
  }
}

.bg-img {
  background-image: url("../public/img/bg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  position: relative;
}

.bg-img-short {
  height: 50vh;
  animation: slideUp 2s ease-in-out forwards;
}

.move-to-top {
  position: absolute;
  animation: moveToTop 2s ease-in-out forwards;
}

.plant-fade-in {
  animation: fadeIn 2s ease-in-out forwards;
}

.img-rice {
  background-image: url("../public/img/rice.jpg");
}

.img-plant1 {
  background-image: url("../public/img/plant1.jpg");
}

.img-corn {
  background-image: url("../public/img/corn.jpg");
}

.img-rice,
.img-plant1,
.img-corn {
  height: 250px;
  width: 600px;
}

@media (width<= 48rem) {
  .img-rice,
  .img-plant1,
  .img-corn {
    height: 150px;
    width: 250px;
  }
}

.text-shadow-2 {
  text-shadow: 2px 2px 4px #000000;
}

/* For Card */
.card-title {
  color: #262626;
  font-size: 1.5em;
  line-height: normal;
  font-weight: 700;
  margin-bottom: 0.5em;
}

.small-desc {
  font-size: 1em;
  font-weight: 400;
  line-height: 1.5em;
  color: #452c2c;
}

.small-desc {
  font-size: 1em;
}

.go-corner {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 2em;
  height: 2em;
  overflow: hidden;
  top: 0;
  right: 0;
  background: linear-gradient(135deg, #6293c8, #384c6c);
  border-radius: 0 4px 0 32px;
}

.go-arrow {
  margin-top: -4px;
  margin-right: -4px;
  color: white;
  font-family: courier, sans;
}

.card {
  display: block;
  position: relative;
  background-color: #f2f8f9;
  border-radius: 10px;
  padding: 2em 1.2em;
  margin: 12px;
  text-decoration: none;
  z-index: 0;
  overflow: hidden;
  background: linear-gradient(to bottom, #c3ece7, #a7d3d9);
}

.card:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: -16px;
  right: -16px;
  background: linear-gradient(135deg, #48627f, #438176);
  height: 32px;
  width: 32px;
  border-radius: 32px;
  transform: scale(1);
  transform-origin: 50% 50%;
  transition: transform 0.6s ease-out;
}

.card:hover:before {
  transform: scale(70);
}

.card:hover .small-desc {
  transition: all 0.5s ease-out;
  color: rgba(255, 255, 255, 0.8);
}

.card:hover .card-title {
  transition: all 0.5s ease-out;
  color: #ffffff;
}
/* For Card */

/* For iocon menu */
#checkbox2 {
  display: none;
}

.toggle2 {
  position: relative;
  width: 30px;
  height: 30px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 6px;
  transition-duration: 0.5s;
}

.bars {
  width: 100%;
  height: 3px;
  background-color: rgba(0, 0, 0, 0.774);
  border-radius: 6px;
}

#bar5 {
  transition-duration: 0.8s;
}

#bar4,
#bar6 {
  width: 80%;
}

#checkbox2:checked + .toggle2 .bars {
  position: absolute;
  transition-duration: 0.5s;
}

#checkbox2:checked + .toggle2 #bar5 {
  transform: scaleX(0);
  transition-duration: 0.5s;
}

#checkbox2:checked + .toggle2 #bar4 {
  width: 100%;
  transform: rotate(45deg);
  transition-duration: 0.5s;
}

#checkbox2:checked + .toggle2 #bar6 {
  width: 100%;
  transform: rotate(-45deg);
  transition-duration: 0.5s;
}

#checkbox2:checked + .toggle2 {
  transition-duration: 0.5s;
  transform: rotate(180deg);
}
/* For iocon menu */

/* For Menu */
.menu {
  position: fixed;
  top: 4.5rem;
  right: 0.5rem;
  clip-path: circle(0% at 100% 0%);
  animation: circleExpand 1s forwards;
}

.input {
  display: flex;
  flex-direction: column;
  width: 200px;
  background-color: #0d1117;
  justify-content: center;
  border-radius: 5px;
}

.value {
  background-color: transparent;
  border: none;
  padding: 10px;
  color: white;
  display: flex;
  position: relative;
  gap: 5px;
  cursor: pointer;
  border-radius: 4px;
  top: 0;
  right: 0;
}

.value:not(:active):hover,
.value:focus {
  background-color: #21262c;
}

.value:focus,
.value:active {
  background-color: #1a1f24;
  outline: none;
}

.value::before {
  content: "";
  position: absolute;
  top: 5px;
  left: -10px;
  width: 5px;
  height: 80%;
  background-color: #2f81f7;
  border-radius: 5px;
  opacity: 0;
}

.value:focus::before,
.value:active::before {
  opacity: 1;
}
/* For Menu */
